a:link, a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
}
a:hover, a:active {
    color: green;
}
.new-project-button {
    padding: 10px;
}
.search{
    width: 25rem;
}